{%load static%}
<html>
    <head>
      <!-- Latest compiled and minified CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

      <!-- jQuery library -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

      <!-- Latest compiled JavaScript -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&family=Poppins:wght@100;200;500&display=swap" rel="stylesheet">
      {%block headtag%}
      {%endblock%}
      <style>
        .navbar{
          border-radius: 0px !important;

        }
        .navbar-inverse{
          background-color: 2A324B !important;
        }
        *{
          font-family: 'Montserrat';
        }
        
      </style>
    </head>
    <body>
      <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
              <li class="active"><a href="{%url 'homepage'%}">Home</a></li>
              <li><a href="{%url 'form_res'%}">Find Project </a></li>
              <li><a href="{%url 'form_contributors_res'%}">Find Contributors</a></li>
              <li><a href="{%url 'org_recs'%}">Find Organisation</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              
              {% if request.user.is_authenticated %}
              <li><a href="#" style='color:white'><span class="glyphicon glyphicon-user"></span> {{request.user}}</a></li>
              <li><a href="{% url 'logout' %}">LogOut</a></li>
              {% else %}
              <li><a href="{% url 'social:begin' 'github' %}"><span class="glyphicon glyphicon-log-in"></span> Login
              </a> </li>
              {% endif %}
             
            </ul>
          </div>
        </div>
      </nav>
      
        {%block content%}
        
        {% if user.is_authenticated %}
 
        <h1 style="text-align:center">Welcome {{user.username}}<br>To the Storehouse of projects</h1>
         
        {% else %}
         
        <h3>Your are not authenticated :/ </h3>
         
        {% endif %}

        {%endblock%}
        
    </body>
</html>