{%extends 'base.html'%}
{%load static%}
{%block headtag%}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Form</title>
<style>
    @import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

html{    
  background-size: cover;
  
}
h3.headertekst {
  text-align: center;
  font-weight: bold;
  padding-bottom:20px;
  
}
#feedback-page{
	text-align:center;
}

#form-main{
	display: flex;
	justify-content: center;
	align-items: center;
	height:90vh;
	
	
}

#form-div {
	background-color:white;
	padding-left:35px;
	padding-right:35px;
	box-shadow: 10px 10px 24px 0px rgba(0,0,0,0.75);
	padding-bottom:40px;
	width:450px;
	border-radius: 10px;
	

}
h4{
	font-size:12px !important;
}
.feedback-input {
	color:#3c3c3c;
	font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
	font-size: 18px;
	border-radius: 0;
	line-height: 22px;
	background-color: #fbfbfb;
	padding: 13px 13px 13px 54px;
	margin-bottom: 10px;
	width:100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
  border: 3px solid rgba(0,0,0,0);
}

.feedback-input:focus{
	background: #fff;
	box-shadow: 0;
	border: 3px solid #3498db;
	color: #3498db;
	outline: none;
  padding: 13px 13px 13px 54px;
}

.focused{
	color:#30aed6;
	border:#30aed6 solid 3px;
}


.select2-container--default .select2-results__option--highlighted[aria-selected] {
	background-color: rgb(108, 122, 165) !important ;
}

.select2-container--default .select2-results__option[aria-selected=true] {
    background-color: rgb(185, 197, 235) !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    color: white !important;
    
}

.select2-container--default .select2-selection--multiple {
    background-color: white;
    border: 1px solid rgb(205, 203, 203) !important;
    border-radius: 4px;
    cursor: text;
}

textarea{
	border: 1px solid rgb(205, 203, 203) !important;
    border-radius: 4px !important;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice{
	background-color: #76d1f2 !important;
    border: none !important;
    border-radius: 4px !important;
	color:white !important;
	font-size:12px !important;
}

/* Icons ---------------------------------- */
#name{
	background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

#name:focus{
	background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
	background-size: 30px 30px;
	background-position: 8px 5px;
  background-position: 11px 8px;
	background-repeat: no-repeat;
}

#topic{
	background-image: url(http://rexkirby.com/kirbyandson/images/topic.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

#topic:focus{
	background-image: url(http://rexkirby.com/kirbyandson/images/topic.svg);
	background-size: 30px 30px;
  background-position: 11px 8px;
	background-repeat: no-repeat;
}

/* #comment{
	background-image: url(http://rexkirby.com/kirbyandson/images/comment.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
} */

textarea {
    width: 100%;
    height: 150px;
    line-height: 150%;
    resize:vertical;
}

input:hover, textarea:hover,
input:focus, textarea:focus {
	background-color:white;
}

#button-blue{
    /* width: 200px; */
	font-family: 'Montserrat', Arial, Helvetica, sans-serif;
	float:left;
	width: 100%;
	border:none;
	cursor:pointer;
	background: rgb(40,62,130);
	background: linear-gradient(90deg, rgba(40,62,130,1) 0%, rgba(43,182,232,1) 100%);
	color:white;
	font-size:16px;
	padding-top:10px;
	padding-bottom:10px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
  margin-top:10px;
  border-radius: 50px;
  font-weight:700;
}

.ease {
	width: 0px;
	height: 74px;
	background-color: #fbfbfb;
	-webkit-transition: .3s ease;
	-moz-transition: .3s ease;
	-o-transition: .3s ease;
	-ms-transition: .3s ease;
	transition: .3s ease;
}
h4{
	font-size:15px;
}

@media only screen and (max-width: 580px) {
	#form-main{
	display: flex;
	justify-content: center;
	}
	#form-div{
		width:90%;
	}
}
</style>
		<script src=
"https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
	</script>

		<script src=
"https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.min.js">
		</script>
		<link rel="stylesheet"
			href=
"https://cdnjs.cloudflare.com/ajax/libs/chosen/1.4.2/chosen.min.css" />

		<script src=
"https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/js/select2.min.js">
	</script>
		<link rel="stylesheet"
			href=
"https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/css/select2.min.css" />
		<script>
			$(document).ready(function () {
				var languages
				$(".lang").select2({
					maximumSelectionLength: 10,
				});
				$(".lang").on('change',function(){
					 languages=$(".lang option:selected").text()
					 
					 $('.data').val(languages)
				})
				
				// $(".topic").chosen({
				// 	max_selected_options: 10,
				// });
        //         $(".descrip").chosen({
				// 	max_selected_options: 10,
				// });
				
			});

			console.log($('.data').value)

		</script>
	{%endblock%}
	{%block content%}
		
            
           
            <div id="form-main">
             
                <div id="form-div">
                  <h3  class="headertekst"> Find Projects</h3>
                  <form action="{% url 'repo_rec' %}" method="POST" >
                    {% csrf_token %}
					<p class="name">
						<h4>Select Language</h4>
						<select class="lang"multiple="true"style="width: 100%;">
						  {%for lang in lang_token%}
							  <option value="1">{{ lang }}</option>
							  
							  {%endfor%}
						</select>
					
						</p>
					
					  <p class="topic">
						<h4>Select topic</h4>
						<select class="lang"multiple="true"style="width: 100%;">
							  {%for topic in token_list%}
							  <option value="1">{{ topic }}</option>
							  
							  {%endfor%}
						</select>
					
					  </p>
					  <p class="descrip">
						  <h4>Description</h4>
						<textarea name='desc'></textarea>
						
					  </p>
					  <input type="hidden" value="" class="data" name="data"/>
					  <div class="submit">
						<input type="submit" value="Submit" id="button-blue"/>
						<div class="ease"></div>
					  </div>
					  
					

                     
                  </form>
                </div>
		
    {%endblock%}
