{%extends 'base.html'%}
{%load static%}
{%block headtag%}
<title>Homepage</title>
<style>
    .row-section{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        padding-top:40px
    }
    .card{
        
        background-color: #B4C3E4;
        padding:20px;
        margin-bottom:40px;
        border-radius:10px;
        box-shadow: 10px 10px 18px -10px rgba(0,0,0,0.75);
        display: flex;

        justify-content:start ;
        align-items: center;
        width:40%;
        margin-right:10px;
        margin-left:10px;


    }
    .img-circle{
        width:100px;
        height: 100px;
        border-radius: 50%;
        background-color: aliceblue;
        margin-right:20px;
        border : 4px solid white;
    }
    .card-title{
        color:#3d5a80;
        font-size:20px;
        font-weight: bold;
    }
    .card-subtitle{
        color:#2a324b;
        font-size: 14px;
    }
    .card-text{
        font-size:12px;
        
    }
    .icon{
        font-size:16px;
        
        color:#ee6c4d
    }
    .icon-text{
        font-style: normal;
        color:#293241;
        margin-right:10px;
        font-size:12px;
    }
    .dropdown{
        margin-right:20px;
        margin-bottom: 10px;
        
    }
    .dropdown .btn{
        width:180px !important;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color:#293241;
        border:none
    }
    .dropdown .btn-primary{
        background-color: #cee5f7 !important;
    }
    .dropdown .dropdown-menu{
        width: 180px;
    }
    i{
        font-style: normal;
    }



    @media screen and (max-width:768px) {
        .card{
            flex-direction: column !important;
            
        }
        .name{
            text-align: center;
        }
        .row-section{
            flex-direction: column;
        }
        .dropdown{
            margin-bottom:10px;
            margin-bottom: 10px;
        }
        .avatar{
            margin-bottom:20px;
        }
    }
    @media screen and (max-width:598px) {
        .card{
            width:90%
        }
    }
</style>
{%endblock%}

{%block content%}
<h3 style='text-align: center;font-family:Poppins;'>Project contributor recommendation</h3>


<div class='row-section card-deck'>
    {%for  user in user_list%}
    
        <div class="card" >
            <div class='avatar'>
               
                   <img class='img-circle' src={{user.1}}>
               
            </div>
            <div class="card-body">
              <div class='name'>
                <i class="card-title"><a href={{user.2}}> {{user.0}} </a></i>
                <i class="card-subtitle mb-2 text-muted">({{user.3}})</i>
              </div>
              <h6 style='font-size:12px;' class="card-subtitle mb-2 text-muted">{{user.4}} Public repositories</h6>
              <div style="display: flex;flex-direction: row;margin-top:8px">
                <p style='margin-right:10px;color:#E0FBFC;font-size:12px;'>Expert in : </p>
                <p style='font-size:12px;'>{{user.6}}</p>
            </div>
              
             </div>
        </div>
        
   
    {%endfor%}
    
</div>
{%endblock%}